* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    color: #222;
}

header {
    background: #ffffff;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #222;
}

.hero {
    background: #202020;
    color: white;
    padding: 80px 10%;
}

.hero h1 {
    font-size: 45px;
    max-width: 650px;
}

.hero p {
    font-size: 20px;
}

.button,
button {
    background: #111;
    color: white;
    padding: 14px 25px;
    border: none;
    cursor: pointer;
}

.container {
    padding: 50px 8%;
}

.courses {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.course-card {
    background: white;
    width: 300px;
    padding: 25px;
    border: 1px solid #ddd;
}

.course-card h3 {
    font-size: 22px;
}

.registration {
    background: white;
    padding: 50px 8%;
}

form {
    max-width: 500px;
}

input,
select {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    border: 1px solid #ddd;
}
